.Profile {
    width: calc(100% - 70px);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-client {
    background: #2cb5a0;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    border: 4px solid #7cdacc;
    box-shadow: 0 6px 10px rgba(207, 212, 222, 1);
    border-radius: 10px;
    text-align: center;
    color: #fff;
    font-family: "Poppins", sans-serif;
    transition: all 0.3s ease;
    display: flex;
    min-width: 425px;
    justify-content: space-evenly;
    align-items: center;
}

.card-client:hover {
    transform: translateY(-10px);
}

.user-picture {
    overflow: hidden;
    object-fit: cover;
    width: 5rem;
    height: 5rem;
    border: 4px solid #7cdacc;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-picture svg {
    width: 2.5rem;
    fill: currentColor;
}

.name-client {
    margin: 0;
    font-weight: 600;
    font-size: 18px;
}

.name-client span {
    display: block;
    font-weight: 200;
    font-size: 16px;
    padding: 0 10px;
}

.Logoutbtn {
    background-color: #7cdacc;
    padding: 10px 20px;
    border: none;
    color: azure;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width:768px) {
    .Profile {
        width: calc(100% - 50px);
    }
}

@media (max-width:500px) {
    .card-client {
        flex-direction: column;
        min-width: 250px;
        min-height: 300px;
    }
}