.FindNote {
    width: calc(100% - 70px);
}

.searchfilters {
    min-height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.searchbyT {
    min-width: 80%;
    max-width: 95%;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 3px;
    background-color: bisque;
}

.searchTag {
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 3px;
    background-color: beige;
}

.filterdnotes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.filterdnotes .NoteItem {
    margin: 10px 5px;
}

@media (max-width:768px) {
    .FindNote {
        width: calc(100vw - 50px);
        overflow-x: hidden;
    }
}

@media (max-width:435px) {
    .searchfilters {
        min-height: 20%;
    }
}